/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

/* UTILITIES */

/* typography */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float:right;
}
header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
p {
  color: #727272;
}

/* header */
.header-top {
  /* padding: 20px 40px; */
  line-height: 80px;
}
.main-header {
  background-color: #294681;
}
/* grandezza logo */
.logo {
  width: 15%
}
/* grandezza center */
.center {
 width: 45%;
}
/* grandezza right */
.right {
  width: 40%;
}
/* header logo */
.logo img {
  padding-top: 18px;
}
/* header center */
.center li {
  display: inline-block;
  margin-left: 25px;
}
/* header right */
.right ul {
  text-align: center;
}
.right li {
  display: inline-block;
  margin-left: 25px;
}
.right li:first-child {
  margin-left: 0;
}
.btn {
  padding: 8px 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 12px;
}
.btn-green {
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #64DE82;
  color: #fff;
}
.btn-green-big {
  padding: 23px 18px;
  border-radius: 5px;
  background-color: #64DE82;
  color: #fff;
}
/* header bottom */
.header-bottom {
  height: 600px;
  position: relative;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.jumbo-text {
  position: absolute;
  top: 20%;
  left: 0;
  max-width: 50%;
}
.jumbo-text h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.jumbo-text a {
  font-size: 15px;
}
/* main */
/* prima section */
.info {
  padding: 40px;
  background-color: #BCBCBC;
}
.info h2 {
  color: black;
  text-align: center;
}
.info p {
  margin-top: 20px;
  text-align: center;
}
/* seconda section */
/* parte di sinistra */
.metodo {
  line-height: 25px;
  margin: 40px;
}
.colonne {
  width: calc(100% / 3);
  padding: 0 20px;
  text-align: center;
}
.colonne img {
  width: 140px;
  height: 140px;
}
.colonne h3 {
  font-size: 25px;
  color: #64DE82;
}
.colonne p {
  font-size: 16px;
}
.metodo h3::after {
  content: '';
  display: block;
  width: 70px;
  height: 1px;
  background-color: grey;
  margin: 25px auto;
}
/* hr */
hr {
  margin: 0 20px;
}
/* terza section */
.livello {
  width: 60%;
  margin: 30px auto;
}
.livello img {
  width: 30%;
}
.piano {
  margin: 0 30px;
  max-width: 341px;
}
.piano h2 {
  color: black;
  line-height: 30px;
}
.piano p {
  margin: 20px 0;
}
/* footer */
footer {
  background-color: #BCBCBC;
  padding: 50px;
}
.parte-finale h2 {
  font-size: 30px;
}
.finale-destra .seleziona {
  margin: 0 30px;
}
.finale-destra li {
  display: inline-block;
}
.finale-destra .seleziona {
  color: #727272;
}
.finale-destra .btn-green-big {
  text-decoration: none;
}

/* help */
.help a {
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 200px;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #64DE82;
  color: #fff;
  text-decoration: none;
}
